<!-- Main Footer-->
<footer class="main-footer" style="background: url(assets/images/background/footer.jpg);">
  <div class="container">
      <div class="footer-area text-center">
          <div class="footer-logo">
              <figure>
                  <a href="index.html"><img src="assets/images/logo-2.png" alt=""></a>
              </figure>
          </div>
          <ul class="footer-menu">
              <li><a href="index.html">Home</a></li>
              <li><a href="about-us.html">About</a></li>
              <li><a href="speakers.html">Speakers</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="shedule.html">Schedule</a></li>
              <li><a href="sponsor.html">Sponsors</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact-us.html">Contact</a></li>
          </ul>
          <ul class="social-links">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-vine"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div>            
  </div>
</footer>
<!--End Main Footer-->

<!--Footer Bottom Section-->
<section class="footer-bottom">
  <div class="container">
      <div class="copyright-text text-center">
          Copyright &copy; <a href="#">Wiscon</a> 2019. All Rights Reserved
      </div>
  </div>
</section>
<!--End Footer Bottom Section-->
