<!-- Main Footer-->
<footer class="main-footer" style="background: url(assets/images/background/footer.jpg);">
  <div class="container">
      <div class="footer-area text-center">
          <div class="footer-logo">
              <figure>
                  <a href="index.html" style="border-radius:10px"><img src="assets/images/logo.png" alt=""></a>
              </figure>
          </div>
          
          <ul class="social-links">
              <li><a href="https://web.facebook.com/linkedinlocaldakar/"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/LinkedinDakar"><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://linkedin.com/company/linkedin-local-dakar"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://instagram.com/linkedin_local_dakar"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div>            
  </div>
</footer>
<!--End Main Footer-->

<!--Footer Bottom Section-->
<section class="footer-bottom">
  <div class="container">
      <div class="copyright-text text-center">
          Copyright &copy; <a href="https://linkedinlocaldakar.com">Linkedin Local Dakar</a> 2019. Tous Droits Réservés
      </div>
  </div>
</section>
<!--End Footer Bottom Section-->
