
<!--Contact Info-->
<section class="contact-info two">
  <div class="container">
      <div class="row">
          <div class="col-xl-6 col-md-12 col-sm-12">
              <div class="row">
                  <div class="col-xl-6 col-md-6 col-sm-12">
                      <div class="contact-info-item-two">
                          <div class="icon-box">
                              <i class="flaticon-placeholder"></i>
                          </div>
                          <div class="text">
                              <h6>Addresse</h6>
                              <p>Dakar, <br>Senegal</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-sm-12">
                      <div class="contact-info-item-two">
                          <div class="icon-box">
                              <i class="flaticon-phone-call"></i>
                          </div>
                          <div class="text">
                              <h6>Telephone</h6>
                              <p>(221) 33 860 69 29  <br>(221) 76 417 24 07</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-sm-12">
                      <div class="contact-info-item-two">
                          <div class="icon-box">
                              <i class="flaticon-e-mail-envelope"></i>
                          </div>
                          <div class="text">
                              <h6>Adresse Email</h6>
                              <p>
                                  <a href="#">contact@linkedinlocaldakar.com</a>
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-6 col-md-6 col-sm-12">
                      <div class="contact-info-item-two">
                          <div class="icon-box">
                              <i class="flaticon-paper"></i>
                          </div>
                          <div class="text">
                              <h6>Horraire</h6>
                              <p>
                              Toute la journée: 8H – 19H</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-md-12 col-sm-12">
              <form class="default-form contact-area" method="post" action="sendemail.php" id="contact-form">
                  <div class="row">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                          <div class="form-group">
                              <input type="text" name="username" placeholder="Nom" required="">
                          </div>
                          <div class="form-group">
                              <input type="text" name="subject" placeholder="Sujet" required="">
                          </div>                                  
                      </div>
                      <div class="col-md-6 col-sm-12 col-xs-12">
                          <div class="form-group">
                              <input type="email" name="email" placeholder="Email" required="">
                          </div>
                          <div class="form-group">
                              <input type="text" name="phone" placeholder="Votre Site Web" required="">
                          </div>                                 
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group">
                              <textarea name="message" class="form-control textarea required" placeholder="Votre Message"></textarea>
                          </div>
                          <div class="form-group bottom">
                              <button type="submit" class="theme-btn btn-style-one">Envoyer le message</button>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>           
  </div>
</section>
<!--End Contact Info-->